<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelters</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="page-container">

    <div class="page-header">
        <h2 style="color: #05627d;">Shelters</h2>
    </div>
    <div class="animals-grid">


        <div class="animal-card" th:each="shelter : ${shelters}">

            <div class="animal-img-wrapper">
                <img th:if="${shelter.imageUrl != null}" th:src="${shelter.imageUrl}" class="animal-img" alt="Shelter image">
            </div>

            <div class="animal-info">
                <h3 class="animal-name" th:text="${shelter.name}">Shelter Name</h3>

                <p class="icon-text">🪪 <strong>ID:</strong> <span th:text="${shelter.id}"></span></p>
                <p class="icon-text">🌍 <strong>Country:</strong> <span th:text="${shelter.country}"></span></p>
                <p class="icon-text mb-space">📍 <strong>City:</strong> <span th:text="${shelter.city}"></span></p>

                <div class="animal-actions">
                    <a th:href="@{/shelters/{id}/animals(id=${shelter.id})}" class="btn-orange">View Animals</a>
                </div>
            </div>

        </div>

    </div>
</div>

</body>
</html>